# Ignore all __pycache__ folders in the project
__pycache__/

# Ignore the entire Minecraft folder

# Ignore the entire triplets folder

# Ignore the entire model_out folder

# Ignore all contents of the pretrained_ckpt folder

# Ignore the entire logdir folder
logdir/

# Ignore the entire logs folder
logs/

# Ignore the entire output_infos folder
output_infos/

# Ignore all contents of the weights folder
weights/*

# Ignore all files with the .log extension
*.log

# Ignore all files with the .sh extension
# *.sh

# Ignore DynDream_exprs.sh
DynDream_exprs.sh
